<h2>List of ratings </h2>

<p>
    <strong>Total: </strong>
    <%= @ratings.count %>
</p>

<ul>
 <% @ratings.each do |rating| %>
  <li>  
      <%= rating.beer.name + " "%>
      <%= rating.score%>
      <%= link_to rating.user.username, user_path(rating.user) %>
  </li>
 <% end %>
</ul>

<%= link_to "New rating", new_rating_path %>
